@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&display=swap");
.colorFooter {
  background-color: brown;
  margin: 0px;
  padding: 0px; }

.estilosEmail {
  text-decoration: none;
  color: black;
  font-family: "Bebas Neue", cursive; }

footer {
  background-color: #be1822;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.derechos {
  color: black;
  font-family: "Bebas Neue", cursive;
  font-size: 12px; }

.imgFooter {
  padding-left: 10px; }

.espacioRedes {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px; }

li {
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Bebas Neue", cursive; }
  li:hover {
    background-color: #be1822;
    border: 1px;
    border-radius: 5px; }

.btn {
  background-color: white;
  color: #be1822;
  border: none;
  font-size: 30px; }

.btn:hover, .btn:focus {
  color: white;
  outline: 0; }

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; }

.first:hover {
  box-shadow: 0 0 40px 40px #be1822 inset; }

body {
  background-color: black; }

.bg-danger {
  background-color: #be1822 !important; }

.logoSize {
  width: 150px;
  height: 150px; }

.imgSize {
  height: auto;
  max-width: 100%; }

.tituloOrkos {
  font-size: 80px;
  color: white;
  font-family: "Bebas Neue", cursive; }

.tituloCerro {
  font-size: 50px;
  color: white;
  font-family: "Bebas Neue", cursive;
  background-color: #be1822;
  text-align: center; }

@media (min-width: 768px) {
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 100%; } }

.subtitulos {
  color: white;
  background-color: #be1822;
  margin-top: 15px;
  font-family: "Bebas Neue", cursive; }

.clasePrueba {
  text-align: center;
  font-family: "Bebas Neue", cursive; }

.filaTitulos {
  margin-left: 150px; }

.fondoBox {
  width: 1000px;
  height: 700px;
  padding-left: 50px; }

.col-12 {
  padding: 0px !important; }

.titulosSecundarios {
  font-family: "Bebas Neue", cursive;
  color: white;
  background-color: #be1822; }

.estilosWod {
  font-family: "Bebas Neue", cursive;
  color: whitesmoke;
  background-color: black;
  font-size: 14px;
  width: 200px; }

.wod {
  background-color: black;
  text-align: center;
  margin-left: 60px;
  border: 5px white solid;
  border-radius: 5px; }

.container-fluid {
  padding: 0px !important; }

.estiloForm {
  background-color: black;
  color: white;
  padding-top: 50px;
  font-family: "Poppins", sans-serif; }

.imagenContacto {
  width: 800px;
  height: 500px;
  padding-top: 50px;
  padding-left: 20px; }

.btn:hover {
  background-color: #be1822 !important; }

.flip-card {
  background-color: transparent;
  width: 600px;
  height: 200px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */ }

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden; }

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg); }

.fuenteBack {
  font-size: 80px;
  font-family: "Bebas Neue", cursive; }

.col-xs-1 {
  text-align: center; }

.col-md-3 {
  text-align: center; }

.col-lg-7 {
  text-align: center; }

.col-md-12 {
  text-align: center; }

.tituloFotos {
  color: white;
  font-size: 50px;
  text-align: center;
  background-image: url("../imagenes/fondogal.jpg");
  background-size: auto;
  font-family: "Bebas Neue", cursive;
  line-height: 150px; }

.zoom {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  margin-top: 10px; }

.container-fluid {
  margin: 10px; }

.imgSedes {
  border-radius: 5px;
  margin: 20px;
  max-width: 100%;
  padding-bottom: 20px;
  border: 0px; }

iframe {
  width: 500px;
  max-height: 100%; }

.textoNovedades {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 30px;
  margin-top: 20px; }

.grid-elemento3 {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px; }

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 50px;
  margin-left: 20px; }

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: center; } }
