$color-de-fondo:black;
$color-fondo-titulos: rgb(190,24,34);
$size-titulo-orkos: 80px;
$size-titulos-secundarios: 50px;
$fuente-textos:  'Bebas Neue', cursive;
$fuentes-textos-nov: 'Poppins', sans-serif;
$color-blanco: white;
$text-align-center: center; 
$size-botones:30px;
$size-textos:14px;