$color-de-fondo:black;
$color-fondo-titulos: rgb(190,24,34);
$size-titulo-orkos: 60px;
$size-titulos-secundarios: 40px;
$fuente-textos: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$color-blanco: white;
$text-align-center: center; 
$size-botones:24px;
$size-textos:14px;