@import "variables";
@import "footer";
@import "menu";



body{

    background-color: $color-de-fondo;
}

.bg-danger{

    background-color: $color-fondo-titulos !important;
}

@mixin sizes ($width, $height) {

    width: $width;
    height: $height;


}
.logoSize{

    @include sizes (150px, 150px);
    
}

.imgSize {
 
    height:auto;
    max-width:100%;
  }


.tituloOrkos{
    font-size: $size-titulo-orkos;  
    color:  $color-blanco ;
}

.tituloCerro{
    font-size: $size-titulos-secundarios;
    color: $color-blanco;
}

.tituloInde{
    @extend .tituloCerro;
}

@media (min-width: 768px) {
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width:100%;
    }
    }
.subtitulos{

    color: $color-blanco;
    background-color: $color-fondo-titulos;
    margin-top: 15px;
}

.clasePrueba{

    text-align: $text-align-center;
}

  
.filaTitulos{

    margin-left: 150px;
}

.fondoBox{

    width: 1000px;
    height: 700px;
    padding-left: 50px;
}



.col-12 {

    padding: 0px !important;
}

.titulosSecundarios{
    font-family: $fuente-textos;
    color: $color-blanco;
    background-color: $color-fondo-titulos;


}

.estilosWod{

    font-family:$fuente-textos;
    color:whitesmoke;
    background-color: $color-de-fondo;
    font-size: $size-textos;
    width: 200px;
    
    
}

.wod {
    background-color:$color-de-fondo;
    text-align: $text-align-center;
    margin-left: 60px;
    border: 5px $color-blanco solid;
    border-radius: 5px;
    
}

.container-fluid{

    padding: 0px !important;
}

.estiloForm{

    background-color: $color-de-fondo;
    color: $color-blanco;
    padding-top: 50px;
}

.imagenContacto {

    width: 800px;
    height: 500px;
    padding-top: 50px;
    padding-left: 20px;
    
}

.btn:hover{

                background-color: $color-fondo-titulos !important;
}

.flip-card {
    background-color: transparent;
    width: 600px;
    height:200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: $text-align-center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  
  
  /* Style the back side */
  .flip-card-back {
    background-color: $color-de-fondo;
    color: $color-blanco;
    transform: rotateY(180deg);
  }

  .fuenteBack{

    font-size: $size-titulo-orkos;
  }

 

  .col-xs-1 {

    text-align: $text-align-center;
  }

  .col-md-3{

    text-align: $text-align-center;
  }

  .col-lg-7{

    text-align: $text-align-center;
}

.col-md-12{

    text-align: $text-align-center;
}

img.zoom {
    width: 100%;
    height: 100%;
    border-radius:5px;
    margin-top: 10px ;
}

.container-fluid{

    margin:10px;

}

.imgSedes{

    border-radius:5px;
    margin: 20px;
    max-width:100%;
    padding-bottom: 20px;
    border: 0px;

    
}


.textoNovedades{

    color: $color-blanco;
    font-family: $fuente-textos ;
    font-size: $size-textos;
    line-height: 30px;
    margin-top: 20px;
   
   
   }
